<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDB" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50151/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDB" contract="Lar.IDB"
                name="BasicHttpBinding_IDB" />
        </client>
    </system.serviceModel>
</configuration>